.choose-us {
  padding: 5rem 0rem;
  margin-top: -5rem;
  height: 50rem;
  position: relative;

  @media (min-width: 320px) and (max-width: 992px) {
    margin-top: 0rem;
  }

  &__col {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-flow: row;
    width: 100%;
    z-index: 600 !important;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5rem;
  }
}

.alice-carousel__next-btn {
  display: none;
}

.alice-carousel__prev-btn {
  display: none;
}
