.line.large {
  width: 20rem;
  height: 0.8rem;
  background-color: $secondary;
  background-image: linear-gradient(90deg, $secondary 0%, $primary-high 52%);
  border-radius: 1rem;
  margin: 1rem 0rem;
}

.line.small {
  width: 20rem;
  height: 0.4rem;
  background-color: $secondary;
  background-image: linear-gradient(90deg, $secondary 0%, $primary-high 52%);
  border-radius: 1rem;
  margin: 1rem 0rem;
}
