.process-card {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;

  &__count {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    font-weight: 900;
    color: $secondary;
    margin: 0rem 2rem;
    width: 20%;
  }

  &__text-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    padding: 0.25rem 1rem;
    font-size: 2rem;
    font-weight: 800;
    color: $primary-low;
  }

  &__text {
    padding: 0.25rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
